	/*################  PC 버전 ################*/
	@media all and (min-width:1025px){
		#mobileNavBtn {display:none;}
		#gnbArea_mobile {display:none;}
		}


	/*################ 태블릿 버전 ################*/
	@media all and (min-width:768px) and (max-width:1024px){
	/*#header {background-color:#ff0;}*/

	#mobileNavBtn {display:none;}
	#gnbArea_mobile {display:none;}

	/*--- Fix Navigation ---*/
		.longText  a {line-height:20px; height:40px; padding:5px 0;}
		.fixInfo li {margin-right:20px;}

	#infoMenu {width:115px;}
		#infoMenu li {margin-right:20px;}
		#infoMenu .snsBtn {margin-right:0;}

		#gnb li {width:25%; height:400px;}
			#gnb .navList dt {height:50px; line-height:50px; padding:30px 0;}
				#gnb .navList dt a {font-size:22px;}
				#gnb .navList dd a {height:50px; line-height:50px;}
		#gnb li.navImg {width:100%; height:100px; position:absolute; left:0; bottom:0;
								background:url("../img/inner1.jpg") no-repeat 30% -440px; background-size:120%;
								}
			#gnb li.navImg img {display:none;}
		#gnb li.navAbout {clear:both;}

	/*----------------------- Footer -----------------------*/
		#footerMap {width:90%;}
			#footerLeft {width:60%; position:relative;}
				.f_logo {width:100px; height:65px; top:5px;}
			#footerLeft address {font-size:14px;}
		#footerRight {width:40%;}
			#community {height:35px;}	
				#community a {width:30px; height:30px; padding:0 5px;}
			#copyRight {font-size:14px;}
}