<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BranchImage">
  	<resultMap type="BranchImage" id="BranchImageMap">
  		<id column="branch_image_id" property="branch_image_id"/>
  		<result column="branch_img" property="branch_img"/>
  		<association column="branch_id" property="branch" javaType="Branch" select="Branch.select"/>
  	</resultMap>
  	
  	<!-- select 공통 -->
  	<sql id="sql_select">
  		select branch_image_id,branch_id,branch_img from branch_image
  	</sql>
  	
  	<!-- 1건 조회 -->
  	<select id="select" parameterType="int" resultType="BranchImage">
  		<include refid="sql_select"/>
  		where branch_image_id=#{branch_image_id}
  	</select>
  	
  	<!-- 조건없이 지점관련 이미지만 전체조회 -->
  	<select id="selectAll" resultMap="BranchImageMap">
  		<include refid="sql_select"/>
  		order by branch_image_id desc
  	</select>
  	
  	<!-- 지점이 선택되어 해당 이미지들 전체조회 -->
  	<select id="selectAllByFk" parameterType="int" resultMap="BranchImageMap">
  		<include refid="sql_select"/>
  		where branch_id = #{branch_id} 
  		order by branch_id
  	</select>
  	
  	<!-- excel용도 -->
  	<select id="selectExcel" resultMap="BranchImageMap">
  		<include refid="sql_select"/>
  	</select>
  	
  	<!-- 지점 이미지 등록 -->
  	<insert id="insert" parameterType="BranchImage">
  		insert into branch_image(branch_id,branch_img) 
  		values(#{branch.branch_id}, #{branch_img})
  	</insert>
  	
  	<!-- 지점 이미지 수정 -->
  	<update id="update" parameterType="BranchImage">
  		update branch_image set branch_img=#{branch_img}
  		where branch_id=#{branch.branch_id}
  	</update>
  	<insert id="updateFile" parameterType="BranchImage">
  		insert into branch_image(branch_id,branch_img)
  		values(#{branch.branch_id},#{branch_img})
  	</insert>
  	
	<!-- 지점 이미지 삭제 -->
	 <delete id="delete" parameterType="int">
		delete from branch_image where branch_id=#{branch_id}
	</delete>
	
	<!-- 삭제 -->
	<delete id="deleteFile" parameterType="BranchImage">
		delete from branch_image where branch_img=#{branch_img}
	</delete>
	
  	<!-- 지점검색 -->
  	<select id="search" parameterType="String" resultMap="BranchImageMap">
  		<include refid="sql_select"/> 
  		where branch_img like CONCAT('%',#{searchWord},'%')
  	</select>
  	
  </mapper>